<div id="canvas">
  <h1 id="head">INDIAN PINCODE SEARCH</h1>
  <div id="input-field">
    <input id="search" type="number" placeholder="Type your Pin Code here"> 
    <input id="button" type="submit" value="Search">
  </div>
  <br>
  <br>
  <br>
  <table id="row">
    <tr>
      <th>PINCODE</th>
      <th>COURIOR COMPANY</th>
      <th>CITY NAME</th>
      <th>STATE NAME</th>
      <th>STATE CODE</th>
      <th>COD</th>
    </tr>

    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>